# Network
NEXT_PUBLIC_NETWORK=preprod
BLOCKFROST_API_KEY_PREPROD=
BLOCKFROST_API_KEY_MAINNET=

# External Services
CARDANO_FORUM_API_KEY=
CARDANO_FORUM_API_USERNAME=system
NEXT_PUBLIC_AMBASSADOR_POLICY_ID=
NEXT_PUBLIC_GITHUB_REPO=
NEXT_PUBLIC_GITHUB_BRANCH=

# Oracle UTxO
NEXT_PUBLIC_ORACLE_TX_HASH=
NEXT_PUBLIC_ORACLE_OUTPUT_INDEX=0

# Setup UTxOs
NEXT_PUBLIC_ORACLE_SETUP_TX_HASH=
NEXT_PUBLIC_ORACLE_SETUP_OUTPUT_INDEX=0
NEXT_PUBLIC_COUNTER_SETUP_TX_HASH=
NEXT_PUBLIC_COUNTER_SETUP_OUTPUT_INDEX=0

# Reference Transaction Scripts - Membership Intent
NEXT_PUBLIC_MEMBERSHIP_INTENT_MINT_TX_HASH=
NEXT_PUBLIC_MEMBERSHIP_INTENT_MINT_OUTPUT_INDEX=0
NEXT_PUBLIC_MEMBERSHIP_INTENT_SPEND_TX_HASH=
NEXT_PUBLIC_MEMBERSHIP_INTENT_SPEND_OUTPUT_INDEX=1

# Reference Transaction Scripts - Member
NEXT_PUBLIC_MEMBER_MINT_TX_HASH=
NEXT_PUBLIC_MEMBER_MINT_OUTPUT_INDEX=0
NEXT_PUBLIC_MEMBER_SPEND_TX_HASH=
NEXT_PUBLIC_MEMBER_SPEND_OUTPUT_INDEX=1

# Reference Transaction Scripts - Propose Intent
NEXT_PUBLIC_PROPOSE_INTENT_MINT_TX_HASH=
NEXT_PUBLIC_PROPOSE_INTENT_MINT_OUTPUT_INDEX=0
NEXT_PUBLIC_PROPOSE_INTENT_SPEND_TX_HASH=
NEXT_PUBLIC_PROPOSE_INTENT_SPEND_OUTPUT_INDEX=1

# Reference Transaction Scripts - Proposal
NEXT_PUBLIC_PROPOSAL_MINT_TX_HASH=
NEXT_PUBLIC_PROPOSAL_MINT_OUTPUT_INDEX=0
NEXT_PUBLIC_PROPOSAL_SPEND_TX_HASH=
NEXT_PUBLIC_PROPOSAL_SPEND_OUTPUT_INDEX=1

# Reference Transaction Scripts - Sign Off Approval
NEXT_PUBLIC_SIGN_OFF_APPROVAL_MINT_TX_HASH=
NEXT_PUBLIC_SIGN_OFF_APPROVAL_MINT_OUTPUT_INDEX=0
NEXT_PUBLIC_SIGN_OFF_APPROVAL_SPEND_TX_HASH=
NEXT_PUBLIC_SIGN_OFF_APPROVAL_SPEND_OUTPUT_INDEX=1

# Reference Transaction Scripts - Treasury
NEXT_PUBLIC_TREASURY_SPEND_TX_HASH=
NEXT_PUBLIC_TREASURY_SPEND_OUTPUT_INDEX=0
NEXT_PUBLIC_TREASURY_WITHDRAWAL_TX_HASH=
NEXT_PUBLIC_TREASURY_WITHDRAWAL_OUTPUT_INDEX=1
