# Network
NEXT_PUBLIC_NETWORK=preprod
BLOCKFROST_API_KEY_PREPROD=
BLOCKFROST_API_KEY_MAINNET=

# External Services
CARDANO_FORUM_API_KEY=
CARDANO_FORUM_API_USERNAME=system
NEXT_PUBLIC_AMBASSADOR_POLICY_ID=
NEXT_PUBLIC_GITHUB_REPO=
NEXT_PUBLIC_GITHUB_BRANCH=
